<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<!--On importe le header-->
<div th:include="/v2/header"></div>

<body class="uk-cover-container uk-height-viewport uk-background-cover"
      style="background-image: url('/abstract-gradient-sky-background-with-cotton-candy-clouds.jpg')">
<div class="uk-position-center">
  <div class="eni-common-page-padding">
    <div class="uk-container">
      <h1>Détail du film</h1>
      <button class="uk-button uk-button-primary" onclick="window.location.href = '/'">Accueil
      </button>
      <button class="uk-button uk-button-primary" onclick="window.location.href = '/list-films'">Tous les films
      </button>
      <div class="uk-child-width-1-1@m" uk-grid>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top uk-cover-container">
            <div class="uk-card-body">
              <p th:text="'Titre : ' + ${film.title}"></p>
              <p th:text="'Année : ' + ${film.year}"></p>
              <p th:text="'Durée : ' + ${film.duration} + ' min'"></p>
              <p th:text="'Note : ' + ${film.note}"></p>
              <p th:text="'Synopsis : ' + ${film.synopsis}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>>