<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-5.15.4-web/css/all.min.css"/>

    <!-- My Theme -->
    <link rel="stylesheet" href="/eni-theme.css"/>

    <title>Liste des films</title>

</head>