<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- Fontamwesome CSS -->
    <link rel="stylesheet" href="vendor/fontawesome-free-5.15.4-web/css/all.min.css">
    <!--My theme CSS-->
    <link rel="stylesheet" href="eni-theme.css">
    <title>Title</title>
</head>
<body class="eni-page-background">
<header>
    <div class="eni-common-page-padding">
        <h1>Accueil</h1>
    </div>
    <p>Bienvenue sur le site Filmovie App</p>
    <div class="uk-margin">
        <button class="uk-button uk-button-primary" onclick="window.location.href = 'list-films'">Films</button>
    </div>
    <div>

    </div>
</header>
<div>

</div>
</body>
</html>