<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/vendor/fontawesome-free-5.15.4-web/css/all.min.css"/>

    <!-- My Theme -->
    <link rel="stylesheet" href="/eni-theme.css"/>

    <title>Liste des films</title>

</head>
<body class="eni-page-background">
<div class="eni-common-page-padding">
    <div class="uk-container">
        <h1>Films</h1>
        <button class="uk-button uk-button-primary" onclick="window.location.href ='/'">Accueil
        </button>
        <div class="uk-child-width-1-1@m" uk-grid>
            <div th:each="film:${films}">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top uk-cover-container">
                        <img src="18659413.jpg" alt="affiche du film" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title" th:text="${film.title}"></h3>
                        <div>
                            <span th:text="${'Année : ' + film.year}"></span>
                            -
                            <span th:text="${'Durée : ' + film.duration + ' min'}"> min</span>
                        </div>
                        <div>
                            <!--Remplace les étoiles par une fonction qui n'affiche que 3 étoiles sur 5, voir le controller-->
                            <i th:each="star:${maxStars}" class="fa fa-star"
                               th:classappend="${film.getNote() >= star} ? 'eni-star-check' : ''"></i>
                            <!--Version en dure :-->
                            <!--<i class="fa fa-star eni-star-check"></i>-->
                            <!--<i class="fa fa-star eni-star-check"></i>-->
                            <!--<i class="fa fa-star eni-star-check"></i>-->
                            <!--<i class="fa fa-star"></i>-->
                            <!--<i class="fa fa-star"></i>-->
                        </div>
                        <p th:text="${film.synopsis}"></p>
                        <button type= "button" class="uk-button uk-button-primary" onclick="window.location.href = 'details-film'">Voir
                            infos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--VERSION EN DUR : SANS LES FONCTION DE THYMELEAF :-->
<!--            <div class="uk-child-width-1-1@m" uk-grid>-->
<!--                <div>-->
<!--                    <div class="uk-card uk-card-default">-->
<!--                        <div class="uk-card-media-top uk-cover-container">-->
<!--                            <img src="18659413.jpg" alt="affiche du film" uk-cover>-->
<!--                            <canvas width="600" height="400"></canvas>-->
<!--                        </div>-->
<!--                        <div class="uk-card-body">-->
<!--                            <h3 class="uk-card-title">Les Visiteurs</h3>-->
<!--                            <div>-->
<!--                                <i class="fa fa-star eni-star-check"></i>-->
<!--                                <i class="fa fa-star eni-star-check"></i>-->
<!--                                <i class="fa fa-star eni-star-check"></i>-->
<!--                                <i class="fa fa-star"></i>-->
<!--                                <i class="fa fa-star"></i>-->
<!--                            </div>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum explicabo fuga-->
<!--                                ipsum iusto,-->
<!--                                pariatur-->
<!--                                perferendis quas quidem sint voluptatibus?</p>-->
<!--                            <button class="uk-button uk-button-primary" onclick="window.location.href = 'details-film'">-->
<!--                                Voir-->
<!--                                infos-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                                        <h3>Version LI</h3>-->
<!--                                        <ul>-->
<!--                                            &lt;!&ndash;  Pour chaque aliment dans la liste on va générer un <li></li> et on prendra son nom&ndash;&gt;-->
<!--                                            <li th:each="film: ${films}"-->
<!--                                                th:text="${'id: ' + film.id + ' titre : ' + film.title + ' année : ' + film.year + ' durée : ' + film.duration + ' min synopsis : ' + film.synopsis}"></li>-->
<!--                                        </ul>-->

<!--                                        <h3>Version DIV</h3>-->
<!--                                        <div th:each="film: ${films}">-->
<!--                                            <p th:text="${'ID : ' + film.id}"></p>-->
<!--                                            <p th:text="${'Titre : '+ film.title}"></p>-->
<!--                                            <p th:text="${'Année : ' + film.year}"></p>-->
<!--                                            <p th:text="${'Durée :' + film.duration}"></p>-->
<!--                                            <p th:text="${'Synopsis : ' + film.synopsis}"></p>-->
<!--                                        </div>-->
<!--                </div>-->
<!--            </div>-->
