<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>
    <title>helloworld
    </title>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="details-film">Les Visiteurs</a>
        </li>
    </ul>
</div>
</body>
</html>